<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="../myui.css">
</head>

<body class = "dark">
<!-- design your site here -->
<!-- everything goes into this div -->

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search</a>
		</div>
	
	<!-- <li class="-icon">
		<a href="javascript:void(0);" onclick="topnav('myTopnav2')">&#9776;</a> -->
	</li>
</ul>



<div class="pure-g centre">
    <form action="/addaalbum" method="POST">
        <header>
            <h1><%= message %></h1>
        </header>
        <p>Album Name:
        <input name="albumField">
        </p>
        <p>Artist Name:
        <input name="artistField">
        </p>
        <p>Year of release:
        <input name="albumyear">
        </p>
        <p>Album description:
        <textarea name="descField">
        </textarea>
        <p> Select user albun: </p> 
        <select name = "genretypes">
           
            <% genreinfo['data'].forEach( (info)=>{   %>
                <% if (info.user_album_id !== null && info.user_album_id !== "") { %>
                <option value="<%= info.genre_id%>">"<%= info.name%>"</option>
                <% } %>
                <% }); %>
            
        </select>
        </select>
        <input type="submit" value="Add Album">

        </form>
        
        <footer>
        
        </footer>

	</div>



    
       


</body>
<!-- links to load UI framework javascript -->
<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
</html>