<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>
	<link rel="stylesheet" href="myui.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
<!-- design your site here -->
<!-- everything goes into this div -->

<ul class="topnav mybk" id="myTopnav2">
	<li><a href="#" class="brand">Stacks of Wax</a></li>
	<li><a href="#">Albums</a></li>
	<li><a href="#">Sign-in</a></li>
	<li><a href="#">Search</a></li>
	
	<li class="-icon">
		<a href="javascript:void(0);" onclick="topnav('myTopnav2')">&#9776;</a>
	</li>
</ul>

<div class="jumbo  _dark">
	<h3>Welcome to Stacks of Wax</h3>
	<p>A curated collection of some of the finest Albums to have ever been.</p>
    <div class="uk-container uk-margin-top">
        <h2 class="uk-heading-line uk-text-right"><span>Album1</span></h2>
        <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-grid-match" uk-grid>
            <div>
                <a class=" uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle">
                        <h3 class="uk-card-title">Example</h3>
                      
                            <img  class="uk-margin-bottom" src="https://images.unsplash.com/photo-1416339306562-f3d12fefd36f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=8aae34cf35df31a592f0bef16e6342ef">
                            <p><span uk-icon="icon: check"></span> Example</p>
                            <p><span href="#" uk-icon="icon:  tablet-landscape"></span>
                            Example</p>
                        
                </a>

            </div>
            <div>
                <a class=" uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle">
                    <h3 class="uk-card-title">Example</h3>
                   
                    <img  class="uk-margin-bottom" src="https://images.unsplash.com/photo-1658089306060-f56ec95cbb8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80">
                     <p><span uk-icon="icon: check"></span> Example </p>
                     <p><span href="#" uk-icon="icon:  tablet-landscape"></span>
                     Example</p>
                   
                </a>
            </div>
            <div>
                <a class=" uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle">
                    <h3 class="uk-card-title">Example</h3>
               
                    <img  class="uk-margin-bottom" src="https://images.unsplash.com/photo-1613900412286-13d398a17665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=80">
                     <p><span uk-icon="icon: check"></span> Example </p>
                     <p><span href="#" uk-icon="icon:  tablet-landscape"></span>
                     Example</p>
           
                </a>

            </div>
            <div>
           
                    <a class=" uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle">
                        <h3 class="uk-card-title">Example</h3>
                       
                        <img  class="uk-margin-bottom" src="https://images.unsplash.com/photo-1557226217-20f449ace39f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=470&q=80">
                         <p><span uk-icon="icon: check"></span> Example </p>
                         <p><span href="#" uk-icon="icon:  tablet-landscape"></span>
                         example</p>
                       
                    </a>
                
            </div>
            <div>
                <a class=" uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle">
                    <h3 class="uk-card-title">Example</h3>
                   
                    <img  class="uk-margin-bottom" src="https://images.unsplash.com/photo-1632301820155-d76aeaab01a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80">
                     <p><span uk-icon="icon: check"></span>Example</p>
                     <p><span href="#" uk-icon="icon:  tablet-landscape"></span>
                    Example</p>
                   
                </a>
            </div>
            <div>
                <a class=" uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle">
                    <h3 class="uk-card-title">Example</h3>
                   
                    <img  class="uk-margin-bottom" src="https://images.unsplash.com/photo-1495368427887-e88d33a44e0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80">
                     <p><span uk-icon="icon: check"></span> Example</p>
                     <p><span href="#" uk-icon="icon:  tablet-landscape"></span>
                     Example</p>
                   
                </a>

    </form>
	 </div>



	
	 
</div>
  
    </div>
 
</ul> 
    
       


</body>
<!-- links to load UI framework javascript -->
<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
</html>