<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body class = "dark">
<!-- design your site here -->
<!-- everything goes into this div -->

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search</a>
        </li>
        <li class="pure-menu-item">
            <a href="/home" class="pure-menu-link">Home</a>
        </li>
		</div>
        
<div class="pure-g centre">
    <div class="pure-u-1 pure-u-md-1-2-text">
	<h1>Welcome to Stacks of Wax</h1>
	<p>A curated collection of some of the finest Albums to have ever been.</p>
	</div> 

    <div style="width:80%; margin: 0 auto; padding-top: 100px;">
        <h2><%= titletext %></h2>
        
        <h3>The Albums, ranked in order of popularity...</h3>
    
         <div class="flex one two-600 three-800 four-1000"> 
      

        <% albumdata['data'].forEach( (album)=>{   %>
            <div>
                <header><%= album.album_title %></header>
                <a class="button" href="/inspect?item=<%= album.album_id %>">Inspect</a>
            </div>
        <% }); %>

    </div>
</div>

</div>

</body>
</html>


   

               
            
       

    