<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body class = "dark">
<!-- design your site here -->
<!-- everything goes into this div -->

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search</a>
		</div>
	
	<!-- <li class="-icon">
		<a href="javascript:void(0);" onclick="topnav('myTopnav2')">&#9776;</a> -->
	</li>
</ul>

<div class="pure-g centre">
    <div class="pure-u-1 pure-u-md-1-2-text">
	<h1>Welcome to Stacks of Wax</h1>
	<p>A curated collection of some of the finest Albums to have ever been.</p>
	</div> 



	<style>
		.user-options {
			/* To limit the menu width to the content of the menu: */
			display: inline-block;
			
		}
	</style>
<div class="pure-menu user-options"> 

	<p>You are logged in as a: <%= userdata.status %> </p>
	<p> <%= sysinfo %> </p>
	<!-- <img class="pure-img" src="StackofWax.jpeg"> -->

	
	<a href="/addauseralbum" class="pure-menu-link">Create a personal album</a>
	<a href="/addsongtouseralbum" class="pure-menu-link">Manage your albums</a>
	<a href="/searchalbums" class="pure-menu-link">Search through the Stack of Wax for official albums</a>
	<a href="/searchuseralbums" class="pure-menu-link">Search through the Stack of Wax for community collections</a>
	<a href="/review" class="pure-menu-link">Leave a review on an official album</a>
	<a href="/useralbumreview" class="pure-menu-link">Leave a review on a community collection</a>
</div>

   



    
       


</body>
<!-- links to load UI framework javascript -->
<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
</html>