<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body>


    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
        <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/login" class="pure-menu-link">Sign-In</a>
           
            </li>
            <li class="pure-menu-item">
                <a href="/searchalbums" class="pure-menu-link">Search albums</a>
            </li>
            <li class="pure-menu-item">
                <a href="/searchuseralbums" class="pure-menu-link">Search user collections</a>
            </li>
            <li class="pure-menu-item">
                <a href="/home" class="pure-menu-link">Home</a>
            </li>
            </div>
<div class = "freespace">

    </div>
 <div class="welcomebox">
    <div class="container">
        <div class="grid-7 greeting">
            <h1>Welcome to Stacks of Wax!</h1>
            <h2>
                A collection of some of the best albums going!
            </h2>
        </div>
        <div class="grid-5 purpose">
            <h2>The Website's purpose:</h2>
            <p>We keep albums of various bands on our website, and our registered members can make their own collections from songs stored here.</p>
            <a class="btn" href="/register">Register</a>
        </div>

            
    </div>

</div>


       


</body>

</html>