<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body class = "dark">
<!-- design your site here -->
<!-- everything goes into this div -->

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>

    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search</a>
        </li>
    </ul>
</div>


<div class="pure-g register">
	<h3>Welcome back to Stacks of Wax</h3>
	<p>Sign in if you would.</p>
	<div class="pure-u-1 pure-u-md-1-2-email">
        <form action="/" method="POST">
        <p>
            username: <input name = "emailString">
        </p>

        <p>
            password: <input name = "passwordString">
        </p>

        <input type = "submit" value = "Log-in">
    </form>
    </div>

    <div>
    <p>Or you could register instead</p>
    <a href="/register" class = "button" >Register</a>
    </div>

	 
</div>
    
 
    
       


</body>

</html>