<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body class = "dark">


<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href = "/" class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>

    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/login" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search albums</a>
        </li>
		<li class="pure-menu-item">
            <a href="/searchuseralbums" class="pure-menu-link">Search user collections</a>
        </li>
    </ul>
</div>

<div class = "freespace">

</div>
<div class = "loginbox">
<div class="pure-g register">
	<h3>Welcome back to Stacks of Wax</h3>
	<p>Sign in if you would.</p>
	<div class="login">
        <form action="/login" method="POST">
        <p>
           
            Username:
        </p>

            <input name = "emailString">
            </div>
      

        <p>
            
            Password: 
        </p>
        <input name = "passwordString">
    
       
        <div class = "submitform">
        <input type = "submit" value = "Log-in">
        </div>
    </form>
    </div>
    <div>
    </div> 
    <div class = "register">
    <p>Or you could register instead</p>
    <a href="/register" class = "button" >Register</a>
    </div>

	 
</div>
    
 
    
       


</body>

</html>