<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body class = "dark">


<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/login" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search albums</a>
        </li>
		<li class="pure-menu-item">
            <a href="/searchuseralbums" class="pure-menu-link">Search user collections</a>
        </li>
		</div>



<div class = "freespace">

</div>
<div class = "registerbox">
<div class="pure-g centre">
    <form action="/admin/register" method="POST">
        <header>
            <h1>Sign up with us if you would.</h1>
        </header>
        <p>Username:
        </p>
        <input name="username">
       
        <p>password:
        </p>
        <input name="password">
        
        <p>First Name:
        </p>
        <input name="firstname">
        
        <p>Last Name:
        </p>
        <input name="lastname">
        </input>

        <p> User Type: 
        </p>
        <select name = "status">
            
            <option name="usertype">Member</option>
            <option name="usertype">Admin</option>

      
        </select>

        <p>Your age:
        </p>
            <input name="age">
            </input>

        </select>
        <p>A short description of yourself:
        </p>
        <div class = "textarea">
        <textarea name="userdescript"></textarea>
    </div>
    
    <div class = "registersubmit">
        <input type="submit" value="Register">
    </div>
        </form>
    </div>
	 
</div>
    
 
    
       


</body>

</html>