.pure-menu-scrollable {
  background-color: purple !important;
  color: black !important;
}

body{
  background-color: #333;
  color:white;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.pure-g {
  text-align: center;
  display: block;
  justify-content: center;
 
}







a.button {
  background-color: purple;
  border: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  margin-top: 5%;
  text-decoration: none;
  border-radius: 20px;
  padding-bottom: 5%;
  font-size: large;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right p {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 10%;
}

.right h2 {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 10%;
}


.left {
  text-align: center;
}

.left, .right {
  max-width: 100%;
  margin: 0 auto;
}

.greeting {
  text-align: center;
  padding-bottom: 2%;
}

.purpose {
    text-align: center;
    padding-bottom: 2%;

}

input {
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.freespace {
  padding-bottom: 5%;
}

.welcomebox {
    margin: auto;
    align-self: center;
    width: 600px;
    height: 600px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;

}

.title {
  text-align: center;
  padding-bottom: 2%;
}
.albumtitle {
  text-align: center;
  padding-bottom: 1%;
}

.interact {
  text-align: center;
  padding-bottom: 2%;
}

.infocontainer {
    margin: auto;
    align-self: center;
    width: 450px;
    height: 600px;
    padding: 50px;
    outline: 1px solid white;
    box-sizing: border-box;
}
.infooutput {
  text-align: center;
  padding-bottom: 2%;
}

.loginbox {
    margin: auto;
    align-self: center;
    width: 600px;
    height: 600px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;



}

.albumbox {
    margin: auto;
    align-self: center;
    width: 200px;
    height: 150px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;



}


.submitform {
  padding-top: 5%;
  text-align: center;
  

}



.register {
  text-align: center;
}

.addalbumbox {
  margin: auto;
  align-self: center;
  width: 300px;
  height: 900px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.textarea {
display:flex;
 width: 200px;
 height: 100px;
}

.select {
  display: flex;
  justify-content: center;
 padding-bottom: 5%;
}


.selectreview {
  display: flex;
  justify-content: center;
   width: 354;
   height: 67;
   align-self: center;
   padding-bottom: 5%;
  }
  


.registerbox {
  margin: auto;
  align-self: center;
  width: 300px;
  height: 900px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.searchalbumsbox {
  margin: auto;
  align-self: center;
  width: 300px;
  height: 450px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.registersubmit {
  padding-top: 10%;
}

.selectalbumgenre {

  display: inline-block;
  padding-bottom: 10%;
  

}

.addsongbox {
  margin: auto;
  align-self: center;
  width: 450px;
  height: 600px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.manageuseralbumbox {
  margin: auto;
  align-self: center;
  width: 450px;
  height: 450px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.selectmanageuseralbums {

 padding-bottom: 5%;
}


.searchuseralbumsbox {
  margin: auto;
  align-self: center;
  width: 450px;
  height: 450px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.reviewalbumbox {
  
    margin: auto;
    align-self: center;
    width: 450px;
    height: 450px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
  
  
  
}


.reviewtextarea {
  display: flex;
  justify-content: center;
   width: 354;
   height: 67;
   align-self: center;
   padding-bottom: 5%;
  }


  
.homebox {
  margin: auto;
  align-self: center;
  width: 300px;
  height: 900px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

.menuoptions {


 text-align: center;
   
} 

.reviewsofyourcollection {
  margin: auto;
  align-self: center;
  width: 300px;
  height: 275px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  padding-bottom: 5%;

}


.menuoptions {
  display: inline-block;
  justify-content: center;
   
}

  



@media (max-width: 780px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .welcomebox {
    margin: auto;
    align-self: center;
    width: 300px;
    height: 600px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;

}
}

@media (max-width: 780px) {
  .loginbox {
    margin: auto;
    align-self: center;
    width: 300px;
    height: 600px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;

}
}

@media (max-width: 780px) {
.addsongbox {
  margin: auto;
  align-self: center;
  width: 300px;
  height: 600px;
  padding-top: 50px;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;

}

}


@media (max-width: 780px) {
  .manageuseralbumbox {
    margin: auto;
    align-self: center;
    width: 300px;
    height: 600px;
    padding-top: 50px;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
  
  }
  
  }

  @media (max-width: 780px) {
    .selectmanageuseralbums {
      display: flex;
     padding-bottom: 5%;
    }
    
    
    
    }


    @media (max-width: 780px) {
      .searchuseralbumsbox {
        margin: auto;
        align-self: center;
        width: 300px;
        height: 600px;
        padding-top: 50px;
        padding: 50px;
        border: 1px solid white;
        box-sizing: border-box;
      
      }
      
      }


      @media (max-width: 780px) {
        .reviewalbumbox {
          margin: auto;
          align-self: center;
          width: 300px;
          height: 600px;
          padding-top: 50px;
          padding: 50px;
          border: 1px solid white;
          box-sizing: border-box;
        
        }
        
        }